<p id="notice"><%= notice %></p>


<p>
  <strong>Title:</strong>
  <%= @blog_post.title %>
</p>
 
<p>
  <strong>Text:</strong>
  <%= @blog_post.body %>
</p>

<%= image_tag @blog_post.avatar.url(:medium) %>

<h2>Comments</h2>
<%= render @blog_post.comments %>
 
<h2>Add a comment:</h2>
<%= render "comments/form" %>



<div class="btn-group">
  <%= link_to 'Edit', edit_blog_post_path(@blog_post), class: "btn btn-default" %> 
  <%= link_to 'Back', blog_post_path, class: "btn btn-default" %>
</div>

<p id="notice" class="alert alert-success" role="alert">
    <%= notice %>
 </p